.container{
    width: fit-content;
    margin-left: 10px;
    height: fit-content;
}

.container p{
    width: auto;
    font-size: 36px;
    text-align: justify;

}

@media screen and (max-width:700px) {

    .container{
        width:fit-content;
        flex-direction: column;
    }
}