.container{
    display: flex;
    color: black;

    position: relative;
    height: calc(100vh -300px);
    flex-direction: column;
    height:fit-content;

    background-color: #EFF1F5;

}
.research h1{
    display: flex;
    justify-content: center;

    align-items: center;
    text-align: justify;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
}

.research div{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:700px) {

    .research div{
        align-items: center;
        flex-direction: column;
    }
}